body{
    margin:0px;
    padding:0px;
    background-color: blueviolet;
}
#formstyle{
    margin-left:40%;
    margin-top: 3%;
}
#name{
    height:40px;
    width:150px;
    text-align: center;
    border-radius: 5px;

}
#button{
    height:40px;
    border-radius: 5px;
    margin-left:10px;
}